@page
@model Web.Pages.LoginModel

@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

<style>
   
</style>


<div class="row align-items-center h-100">
    <div class="col-6 my-5">
        <img src="https://www.vub.be/sites/default/files/styles/landscape/public/2022-08/2022_Administratie%20en%20inschrijven_Documenten_S_1708574428.jpg?h=b6717701&itok=_K_HqGXr" class="img-login img-fluid" />
    </div>
    <div class="col-lg-6 col-sm-12 my-5 text-center">
        <label class="display-4 mb-5">Đăng nhập</label>
        <div class="form-container mx-auto" style="max-width: 300px;">
            <form class="text-center" method="post">
                <input type="text" placeholder="Username" asp-for="@Model.Username" class="form-control mb-3" />
                <span asp-validation-for="@Model.Username" class="text-danger"></span>
                <div class="password-toggle">
                    <input type="password" placeholder="Mật khẩu" asp-for="@Model.Password" class="form-control mb-3" />
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    <span class="toggle-icon"><i class="fa fa-eye"></i></span>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div>
                        <input type="checkbox" asp-for="@Model.IsRemember" />
                        <label class="text-decoration-underline ms-2">Nhớ mật khẩu</label>
                    </div>
                    <a href="#" class="text-decoration-underline">Quên mật khẩu?</a>
                </div>
                <button class="btn btn-lg btn-outline-secondary mb-3 w-100">Đăng Nhập</button>
                <div>
                    Chưa có tài khoản? <a href="/register" class="text-decoration-underline">Đăng ký ngay!</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.querySelectorAll('.password-toggle .toggle-icon').forEach(toggleIcon => {
            const passwordInput = toggleIcon.parentElement.querySelector('input[type="password"]');
            if (passwordInput) {  // Check if passwordInput exists
                toggleIcon.addEventListener('click', function () {
                    if (passwordInput.type === "password") {
                        passwordInput.type = "text";
                        this.querySelector('i').classList.remove('fa-eye');
                        this.querySelector('i').classList.add('fa-eye-slash');
                    } else {
                        passwordInput.type = "password";
                        this.querySelector('i').classList.remove('fa-eye-slash');
                        this.querySelector('i').classList.add('fa-eye');
                    }
                });
            }
        });

    </script>
}


