@page
@model Web.Pages.PostDetailsModel

@{
	ViewData["Title"] = "Bài đăng";
}
<link rel="stylesheet" href="~/css/PostDetail.css" asp-append-version="true" />

<div class="details-container">
    <!-- Post Title -->
    <div class="detail-item">
        <i class="detail-icon fas fa-heading"></i>
        <span class="detail-label">Tựa bài đăng</span>
        <div class="detail-value">@Html.DisplayFor(model => model.Post.PostTitle)</div>
    </div>

    <!-- Post Content -->
    <div class="detail-item">
        <i class="detail-icon fas fa-align-left"></i>
        <span class="detail-label">Nội dung bài đăng</span>
        <div class="detail-value">@Html.DisplayFor(model => model.Post.PostContent)</div>
    </div>

    <!-- Post Date -->
    <div class="detail-item">
        <i class="detail-icon fas fa-calendar-alt"></i>
        <span class="detail-label">Ca thi</span>
        <div class="detail-value">
            (@Html.DisplayFor(model => model.Post.TimeSlot)) @Model.Post.DateSlot.ToString("dd/MM/yyyy")
        </div>

    </div>

    <!-- Category -->
    <div class="detail-item">
        <i class="detail-icon fas fa-tags"></i>
        <span class="detail-label">Loại môn</span>
        <div class="detail-value">@Html.DisplayFor(model => model.Post.PostCategory.PostCategoryName)</div>
    </div>

    <!-- Status -->
    <div class="detail-item">
        <i class="detail-icon fas fa-info-circle"></i>
        <span class="detail-label">Trạng thái bài đăng</span>
        <div class="detail-value">@Html.DisplayFor(model => model.Post.Status)</div>
    </div>

    <!-- Post Date -->
    <div class="detail-item">
        <i class="detail-icon fas fa-calendar-alt"></i>
        <span class="detail-label">Ngày đăng bài</span>
        <div class="detail-value">@Html.DisplayFor(model => model.Post.PostDate)</div>
    </div>

    <!-- User -->
    <div class="detail-item">
        <i class="detail-icon fas fa-user"></i>
        <span class="detail-label">Người đăng</span>
        <div class="detail-value">@Html.DisplayFor(model => model.Post.User.Username)</div>
    </div>

    <!-- Back to Home Link -->
    <a href="@Url.Page("/Index")" class="back-link"><i class="fas fa-home"></i> Quay về trang chủ</a>
</div>



<div class="comment-container" id="comment-container">
	<label>Bình luận và đưa giá</label>
	<div>
		<textarea id="commentText" cols="90" rows="3" placeholder="Nhập bình luận của bạn..."></textarea>
		<input type="text" id="priceOffered" class="price-input price-vnd-format" placeholder="Đưa giá của bạn (đ)" />
		<button id="postCommentBtn">Đăng</button>
	</div>
</div>



<div class="comment-container">
	<label>Các bình luận hiện có:</label>
	<div id="comments-section" class="comments-list">
		<!-- Comments will be loaded here -->
	</div>
</div>

<span id="regError" data-my-attribute=""></span>

<div class="my-toast">
	<div id="toast"></div>
</div>

<div class="overlay" id="overlay"></div>

<div class="confirm-box" id="confirm-box">
	<div class="box-header">
		<h2>Chấp nhận giá offer này của supporter?</h2>
	</div>
	<div class="box-content">
		<p>Bạn sẽ thanh toán số tiền này cho supporter. Chúng tôi sẽ hoàn tiền nếu supporter này có hành vi lừa đảo</p>
	</div>
	<div class="button-container">
		<button id="yes-button">Yeah, Tôi xác nhận</button>
		<button id="no-button">Tôi sẽ suy nghĩ lại</button>
	</div>
</div>

<!-- Pop-up QR code -->
<div id="popup-backdrop" class="popup-backdrop"></div>
<div id="vietqr-popup" class="popup">
	<img id="txtQRCode" alt="VietQR code">
	<div style="margin-top: 5px;"><span id="popup-close" class="popup-close">Close</span></div>

</div>






@section Scripts {
    <script>
        var postUserId = @Model.Post.User.UserId;
        const errorBox = document.getElementById('regError');

        function showToast(title, message, type) {
            toast({
                title: title,
                message: message,
                type: type,
                duration: 3000
            });
        }


    </script>
	<script src="~/js/PostDetail.js" asp-append-version="true"></script>
}

