@page
@model DetailModel

@{
    ViewData["Title"] = "Detail";
    int fullStars = (int)Model.AverageRating;
    bool halfStar = Model.AverageRating % 1 >= 0.5;
    int emptyStars = 5 - fullStars - (halfStar ? 1 : 0);
}
<link rel="stylesheet" href="~/css/detail-page.css">
<div class="container">
    <div class="row shadow-lg p-4 bg-white rounded">
        <!-- Cột 1: Avatar, Icon Facebook và mô tả -->
        <div class="col-lg-3 d-flex flex-column align-items-center text-center p-4">
            <div class="avt avt-lg">
                <img src="https://www.une.edu/sites/default/files/styles/portrait/public/2021-05/default-person.png?h=9822fd67&itok=PoxvRZBJ" class="avt-img" alt="Avatar" />
            </div>
            <ul class="list-unstyled">
                <h4>Thông tin</h4>
                <li><strong>Tên:</strong> @Model.Username</li>
                <li><strong>Vai trò: </strong> @Model.UserType</li>
            </ul>
            <h4>Đánh giá</h4>
            <div class="mb-3">
                @for (int i = 0; i < fullStars; i++)
                {
                    <i class="fas fa-star text-warning"></i>
                }
                @if (halfStar)
                {
                    <i class="fas fa-star-half-alt text-warning"></i>
                }
                @for (int i = 0; i < emptyStars; i++)
                {
                    <i class="far fa-star text-warning"></i>
                }
            </div>
            <h4>Liên hệ</h4>
            <a href="@Model.Facebook" target="_blank" class="btn btn-primary btn-sm mb-3">
                <i class="fab fa-facebook-f"></i> Facebook
            </a>
        </div>

        <!-- Cột 2: Thông tin chi tiết và tỉ lệ hoàn thành công việc -->
        <div class="col-lg-9 border-start border-end p-4">
            <h4>Comments</h4>
            <ul class="list-unstyled">
                @foreach (var commentDto in Model.Comments)
                {
                    int fullStarRating = (int)commentDto.RatingValue;
                    int emptyStarsRating = 5 - fullStarRating;
                    <li class="comment-item d-flex align-items-center">
                        <div class="comment-avatar">
                            <img src="https://images-ext-2.discordapp.net/external/6R2BJltUHiMQP5rEmu1-Z7ydcSfrzczR2A7jMoCMMPY/https/cdn3.iconfinder.com/data/icons/login-5/512/LOGIN_6-512.png" alt="Avatar" />
                        </div>
                        <div class="comment-body flex-grow-1">
                            <strong class="comment-author">@commentDto.RaterName</strong>
                            <p class="comment-date">@commentDto.RatingDate?.ToString("dd-MM-yyyy HH:mm")</p>
                            <p class="comment-text">@commentDto.Comment</p>
                        </div>
                        <div class="comment-rating">
                            @for (int i = 0; i < fullStarRating; i++)
                            {
                                <i class="fas fa-star text-warning"></i>
                            }
                            @for (int i = 0; i < emptyStarsRating; i++)
                            {
                                <i class="far fa-star text-warning"></i>
                            }
                        </div>
                    </li>
                }

            </ul>
        </div>
    </div>
</div>


